<h1>All users</h1>

<% @users.each do |u| %>
<div class="user_block">
    <div class="user_field">
        <h3><%= u.name %></h3>
    </div>
    
    <div class="user_field">
        <h4><%= u.email %></h4>
    </div>
</div>
<% end %>